html, body {
    margin: 0;
    padding: 0;
    display: block;            /* сбрасываем flex */
    align-items: initial;      /* сброс выравнивания */
    justify-content: initial;
    height: auto;
    box-sizing: border-box;/* убираем 100vh */
}

*